In [4]:
import pandas as pd
from math import log

docs = [
    '먹고 싶은 사과'
    ,'먹고 싶은 바나나'
    ,'길고 노란 바나나 바나나',
    '저는 과일이 좋아요'
]
vocab = list(set([word for doc in docs for word in doc.split(' ')]))
vocab.sort()
print(vocab)

['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [6]:
tf = pd.DataFrame()

for v in vocab:
  lst_cnt = []
  
  for doc in docs:
    cnt = 0
    if v in doc:
      cnt += doc.count(v)
    lst_cnt.append(cnt)

  tf[v] = lst_cnt

print(tf)

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [40]:
lst_cnt = []
for v in vocab:
  cnt = 0
  for doc in docs:
    if v in doc:
      cnt += 1
  lst_cnt.append(cnt)

lst_idf = list(map(lambda x:log(len(docs)/(x+1)), lst_cnt))
idf = pd.Series(lst_idf)
idf.index = vocab
print(idf)

과일이    0.693147
길고     0.693147
노란     0.693147
먹고     0.287682
바나나    0.287682
사과     0.693147
싶은     0.287682
저는     0.693147
좋아요    0.693147
dtype: float64

In [42]:
# print(idf.T.reset_index())
df.mul(idf) # df * idf 도 가능

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147

In [57]:
# sklearn 이용
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()

print(vector.fit_transform(docs).toarray())
print(sorted(vector.vocabulary_.items()))

[[0 0 0 1 0 1 1 0 0]
 [0 0 0 1 1 0 1 0 0]
 [0 1 1 0 2 0 0 0 0]
 [1 0 0 0 0 0 0 1 1]]
[('과일이', 0), ('길고', 1), ('노란', 2), ('먹고', 3), ('바나나', 4), ('사과', 5), ('싶은', 6), ('저는', 7), ('좋아요', 8)]

In [52]:
sorted(vector.vocabulary_.items())

[('do', 0),
 ('know', 1),
 ('like', 2),
 ('love', 3),
 ('should', 4),
 ('want', 5),
 ('what', 6),
 ('you', 7),
 ('your', 8)]

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()

print(vector.fit_transform(docs).toarray())
print(sorted(vector.vocabulary_.items()))

[[0.         0.         0.         0.52640543 0.         0.66767854
  0.52640543 0.         0.        ]
 [0.         0.         0.         0.57735027 0.57735027 0.
  0.57735027 0.         0.        ]
 [0.         0.47212003 0.47212003 0.         0.7444497  0.
  0.         0.         0.        ]
 [0.57735027 0.         0.         0.         0.         0.
  0.         0.57735027 0.57735027]]
[('과일이', 0), ('길고', 1), ('노란', 2), ('먹고', 3), ('바나나', 4), ('사과', 5), ('싶은', 6), ('저는', 7), ('좋아요', 8)]